@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

height:100vh;

background:

radial-gradient(circle,#102020,#000);

font-family:'Share Tech Mono',monospace;

color:#00ff99;

overflow:hidden;

}



.system{


height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;


}




h1{

font-size:45px;

color:#ff174f;

text-shadow:

0 0 10px #ff174f,
0 0 40px #ff174f;


}




.ready{

margin-top:15px;

animation:blink 1s infinite;

}




/* TARGET */


.target{

width:330px;

height:330px;

position:relative;

display:flex;

justify-content:center;

align-items:center;

margin:40px;


}



.circle{

position:absolute;

border-radius:50%;

}



.outer{


width:330px;
height:330px;

border:6px solid white;


box-shadow:

0 0 20px white;


}



.middle{


width:230px;
height:230px;

border:6px solid #00ff99;


box-shadow:

0 0 20px #00ff99;


}



.inner{


width:130px;
height:130px;

border:6px solid red;


box-shadow:

0 0 25px red;


}



/* BULLET */


.bullet{


position:absolute;


width:22px;

height:22px;


background:#aaa;


border-radius:50%;


left:-300px;


box-shadow:

0 0 20px white;



animation:

shoot 4s infinite;


z-index:5;


}




@keyframes shoot{


0%{

left:-300px;

}


55%{

left:50%;

transform:translateX(-50%);

}


60%{


width:60px;

height:60px;

background:#ffcc00;


box-shadow:

0 0 60px orange;


}


100%{

left:50%;

}


}




/* HEART */


.heart{


font-size:80px;


position:absolute;


opacity:0;


animation:

hit 4s infinite;


}



@keyframes hit{


0%,60%{

opacity:0;

transform:scale(.2);


}


70%{


opacity:1;

transform:scale(1.3);


}



100%{


opacity:1;

transform:scale(1);


}


}




/* RESULT */


.result{


padding:25px;


border:1px solid #ff174f;

border-radius:20px;


box-shadow:

0 0 30px #ff174f;


animation:

showResult 4s infinite;


}



.score{


font-size:100px;


color:#00ff99;


text-shadow:

0 0 20px #00ff99,
0 0 50px #00ff99;



}



.result span{


color:#ff174f;

font-size:30px;


}




@keyframes showResult{


0%,60%{

opacity:0;

transform:translateY(40px);

}


75%{

opacity:1;

transform:translateY(0);

}


100%{

opacity:1;

}


}




.binary{


margin-top:25px;

color:#00ff99;

opacity:.8;

font-size:18px;


}




@keyframes blink{


50%{

opacity:.2;

}


}



@media(max-width:600px){


h1{

font-size:30px;

}


.target{

width:230px;

height:230px;

}


.outer{

width:230px;

height:230px;

}


.middle{

width:160px;

height:160px;

}


.inner{

width:90px;

height:90px;

}


.score{

font-size:70px;

}


}